<div>
    <h1>new page</h1>
    <p>
Here I need to fill out all the details 


Scope
Nulman37 edited this page on Feb 17 · 1 revision
The Game Club R US online application is an online membership tool that empower individuals with the tools needed to capture and track all past and current games within this. central tool. The tool has a vast data source providing by IGDB.COM providing rich information that gamers can enjoy such as extensive list of games, game platforms, past reviews, ratings, game artwork, character background stories, game cover, and much, much more.

Once enrolled, member will be able to build their own custom list of games based on their search preference. Once associated to their profile, members will be able to rate the games, review the rich content provided and also provide and exchange comments with other members about the games you are interested in.

As part of the roadmap, we plan on expanding sites to include streaming videos of game plays and the ability for members to upload custom covers and logos.


    </p>
</div>